<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Red Bus App</title>  <style>
    body {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50vh;
        background-color: violet;
    }

    #content {
        text-align: center;
        font-size: 24px;
    }
</style>

</head>
<body bgcolor="cyan">
  <form method="post">
    <h1></h1>
    <li>I01-Ramesh-9789678909-gandhi_street</li>
    <li>I02-Ravi-9789678910-nehru_street</li>
    <li>I03-Vicky-9789678911-bose_street</li>
    {% csrf_token %}
    <table>
      <tr>
        <td>
          Booking_id :
        </td>
        <td>
          <input type="number" placeholder="Booking_id" name="Booking_id">
        </td>
      </tr>
      <tr>
        <td>
          User_id :
        </td>
        <td>
          <input type="number" placeholder="User_id" name="User_id"> 
        </td>
      </tr>
      <tr>
        <td>
          Schedule_id :
        </td>
        <td>
          <input type="number" placeholder="Schedule_id" name="Schedule_id"> 
        </td>
      </tr>
      <tr>
        <td>
          Booking_date :
        </td>
        <td>
          <input type="date" placeholder="Booking_date" name="Booking_date"> 
        </td>
      </tr>
      <tr>
        <td>
          No_of_tickets :
        </td>
        <td>
          <input type="number" placeholder="No_of_tickets" name="No_of_tickets"> 
        </td>
      </tr>
      <tr>
        <td>
          <input type="submit" name="submit" value="POST">
        </td>
      </tr>
    </table>
  </form>
</body>
</html>