<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Red Bus App</title>  
</head>
<body bgcolor="cyan">
  <h1>BUS SCHEDULES</h1>
  <li>01-09.00AM-12.00PM-RS.300-75</li>
  <li>02-12.00PM-03.00PM-RS.300-75</li>
  <li>03-03.00PM-06.00PM-RS.300-75</li>
  <li>04-06.00PM-09.00PM-RS.300-75</li>
  <form method="post">
    {% csrf_token %}
    <table>
      <tr>
        <td>
          Schedule_id :
        </td>
        <td>
          <input type="number" placeholder="Schedule_id" name="Schedule_id">
        </td>
      </tr>
      <tr>
        <td>
          Bus_id :
        </td>
        <td>
          <input type="number" placeholder="Bus_id" name="Bus_id"> 
        </td>
      </tr>
      <tr>
        <td>
          Route_id :
        </td>
        <td>
          <input type="number" placeholder="Route_id" name="Route_id"> 
        </td>
      </tr>
      <tr>
        <td>
          Departure_time :
        </td>
        <td>
          <input type="time" placeholder="Departure_time" name="Departure_time"> 
        </td>
      </tr>
      <tr>
        <td>
          Arrival_time :
        </td>
        <td>
          <input type="time" placeholder="Arrival_time" name="Arrival_time"> 
        </td>
      </tr>
      <tr>
        <td>
          Price :
        </td>
        <td>
          <input type="number" placeholder="Price" name="Price"> 
        </td>
      </tr>
      <tr>
        <td>
          Available_seats :
        </td>
        <td>
          <input type="number" placeholder="Available_seats" name="Available_seats"> 
        </td>
      </tr>
      <tr>
        <td>
          <input type="submit" name="submit" value="POST">
        </td>
      </tr>
    </table>
  </form>
</body>
</html>