<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Red Bus App</title>
</head>
<body bgcolor="cyan">
  <h1>Welcome to {{name}}</h1>
  <header>
    <nav>
        <ul>
            <li><a href="login">Login</a></li>
            <li><a href="operator">Operator</a></li>
            <li><a href="bus_details">Bus details</a></li>
            <li><a href="route_details">Route Details</a></li>
            <li><a href="bus_schedule">Bus Schedule</a></li>
            <li><a href="book">Booking</a></li>
            <li><a href="pay">Payment</a></li>
            <li><a href="reser">Seat Reservation</a></li>
            <li><a href="review">Review and Rating</a></li>
        </ul>
    </nav>
  </header>
</body>
</html>