<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Red Bus App</title>
  <style>
    body {
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 10vh;
      background-color: rgb(239, 239, 250);
  }
  
  #content {
      text-align: center;
      font-size: 24px;
  }
  </style>
</head>
<body>
  <h1>Welcome to {{name}}</h1>
  <a href="{% url 'home' %}">Home</a> /
  <a href="{% url 'login' %}">Login</a>
</body>
</html>