<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Red Bus App</title>
</head>
<body bgcolor="cyan">
  <header>
    <nav>
        <ul>
            <li><a href="home" id="home-link">Home</a></li>
            <style>
              a {
                position: absolute; 
                top: 15px; 
                right: 20px; 
              }
            </style>
        </ul>
    </nav>
  </header>
  <form action="login" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Login</button>
  </form>
</body>
</html>