<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Red Bus App</title>  
</head>
<body bgcolor="cyan">
  <h1>OPERATOR DETAILS</h1>
  <li>01-Ramesh-9789678909-gandhi_street</li>
  <li>02-Ravi-9789678910-nehru_street</li>
  <li>03-Vicky-9789678911-bose_street</li>
  <form method="post">
    {% csrf_token %}
    <table>
      <tr>
        <td>
          Operator_id :
        </td>
        <td>
          <input type="number" placeholder="Operator_id" name="Opid">
        </td>
      </tr>
      <tr>
        <td>
          Operator_name :
        </td>
        <td>
          <input type="text" placeholder="Operator_name" name="Operator_name"> 
        </td>
      </tr>
      <tr>
        <td>
          Contact_number :
        </td>
        <td>
          <input type="number" placeholder="Contact_number" name="Cno"> 
        </td>
      </tr>
      <tr>
        <td>
          Address :
        </td>
        <td>
          <input type="text" placeholder="Address" name="Adr"> 
        </td>
      </tr>
      <tr>
        <td>
          <input type="submit" name="submit" value="POST">
        </td>
      </tr>
    </table>
  </form>
</body>
</html>