<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Red Bus App</title> 
</head>
<body bgcolor="cyan">
  <form method="post">
    <h1>ROUTE DETAILS</h1>
    <li>01-Tirunelveli-Coimbatore-500km</li>
    <li>02-Salem-Trichy-400km</li>
    <li>03-Chennai-Kanyakumari-1200km</li>
    <li>04-Chennai-Coimbatore-400km</li>
    <li>05-Trichy-Tirunelveli-350km</li>
    <li>06-Salem-Kanyakumari-800km</li>
    {% csrf_token %}
    <table>
      <tr>
        <td>
          Route_id :
        </td>
        <td>
          <input type="number" placeholder="Route_id" name="Route_id">
        </td>
      </tr>
      <tr>
        <td>
          Source_city :
        </td>
        <td>
          <input type="text" placeholder="Source_city" name="Scty"> 
        </td>
      </tr>
      <tr>
        <td>
          Destination_city :
        </td>
        <td>
          <input type="text" placeholder="Destination_city" name="Dcty"> 
        </td>
      </tr>
      <tr>
        <td>
          Distance :
        </td>
        <td>
          <input type="number" placeholder="Distance" name="Dis"> 
        </td>
      </tr>
      <tr>
        <td>
          <input type="submit" name="submit" value="POST">
        </td>
      </tr>
    </table>
  </form>
</body>
</html>